.buttonLiked{
  width: 22px;
  height: 22px;
  background: #ffcd1e;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding-top: 3px;
  padding-right: 3px;
  margin-left: 5px;
  cursor: pointer;
  outline: 0;
  border-radius: 100%;

}